
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="footer-area">
    <div class="footer-top section-space-top-85 text-black" data-bg-color="#e5ddcc">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="widget-item">
                        <div class="footer-logo pb-4">
                            <a asp-controller="Home" asp-action="Index">
                                <img src="~/assets/images/logo/logopage.png" alt="Logo">
                            </a>
                        </div>
                        <div class="widget-contact-info pb-6">
                            <ul>
                                <li>
                                    <i class="pe-7s-map-marker"></i>
                                    ĐỊA CHỈ : 203 NGUYỄN THƯỢNG HIỀN, P6, QUẬN BÌNH THẠNH TPHCM
                                </li>
                                <li>
                                    <i class="pe-7s-mail"></i>
                                    <a href="mailto://info@example.com">Liên hệ email: ShopKraken@gmail.com</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <img src="~/assets/images/payment/bocongthuong.png" alt="Payment Method" style="max-width:200px;">
                                    </a>
                                </li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1 col-md-12 pt-10 pt-lg-0">
                    <div class="widget-item">
                        <h3 class="widget-title mb-5">Thông tin liên hệ</h3>
                        <ul class="widget-list-item">
                            <li>
                                <a href="javascript:void(0)">KRAKEN.VN - HI-END PC & GAMING GEAR</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">HOTLINE MUA HÀNG : 0946700006</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">HOTLINE CSKH & KHIẾU NẠI : 0907699993</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">HOTLINE BẢO HÀNH : 0944567186</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">HOTLINE KĨ THUẬT : 0936054002</a>
                            </li>
                            
                        </ul>
                    </div>
                </div>              
                <div class="col-lg-3 col-md-6 pt-10 pt-lg-0">
                    <div class="widget-item">
                        <h3 class="widget-title mb-5">Đăng ký ưu đãi</h3>
                        <p class="short-desc">Đăng ký email để nhận được nhiểu ưu đãi hấp dẫn</p>
                    </div>
                    <div class="widget-form-area">
                        <form class="widget-form" action="#">
                            <input class="input-field" type="email" autocomplete="off" placeholder="Nhập email của bạn">
                            <div class="button-wrap pt-5">
                                <button class="btn btn-custom-size btn-primary btn-secondary-hover rounded-0" id="mc-submit">Đăng ký</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom py-3" data-bg-color="#bac34e">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright">
                        <span class="copyright-text text-white">© 2021 SHOP KRAKEN  <i class="fa fa-heart text-danger"></i> by  <a asp-controller="Home" asp-action="Index" target="_blank">NHÓM 9</a> </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>