@using demomysql.Extension;
@using demomysql.Models;
@using demomysql.ModelViews;

@{
    linhkienchinhthucContext db = new linhkienchinhthucContext();
    List<Nguoidung> khachdangnhap = ViewBag.IsAuthenticated;

    var lstendanhmuc = db.Danhmucs.ToList();
    List<CartItem> giohang = ViewBag.giohang;

}
<header class="main-header_area position-relative">

    <div class="header-middle py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="header-middle-wrap">
                        <a asp-controller="Home" asp-action="Index" class="header-logo">
                            <img src="~/assets/images/logo/logopage.png" alt="Header Logo">
                        </a>

                        <div class="header-search-area d-none d-lg-block ">
                            <form asp-controller="Search" asp-action="Index" class="header-searchbox" method="post">

                                <input class="input-field" id="keyword" name="keyword" type="text" placeholder="Tìm kiếm sản phẩm">
                                <button class="btn btn-outline-whisper btn-primary-hover" type="submit"><i class="pe-7s-search"></i></button>
                            </form>



                            <div style="position: absolute; display: block;" id="recordtable">   </div>
                        </div>


                        <div class="header-right">
                            <ul>
                                <li class="dropdown d-none d-md-block">
                                    <button class="btn btn-link dropdown-toggle ht-btn p-0" type="button" id="settingButton" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="pe-7s-users"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="settingButton">




                                        <li><a class="dropdown-item" asp-controller="Accounts" asp-action="Dashboard">Thông tin tài khoản</a></li>
                                        <li><a class="dropdown-item" asp-controller="Accounts" asp-action="Register">Đăng ký</a></li>
                                        <li><a class="dropdown-item" asp-controller="Accounts" asp-action="Login">Đăng nhập</a></li>




                                    </ul>
                                </li>
                                
                                <li class="d-block d-lg-none">
                                    <a href="#searchBar" class="search-btn toolbar-btn">
                                        <i class="pe-7s-search"></i>
                                    </a>
                                </li>
                                <li class="minicart-wrap me-3 me-lg-0">
                                    <a asp-controller="Shoppingcart" asp-action="Index" class="minicart-btn toolbar">
                                        <i class="pe-7s-shopbag"></i>
                                        <span class="quantity" id="cart-count">

                                            @{

                                                var gh = Context.Session.Get<List<CartItem>>("Giohang");
                                                if (gh == default(List<CartItem>))
                                                {
                                                    gh = new List<CartItem>();
                                                }

                                            }
                                            @(gh.Sum(x => x.soluong))
                                        </span>

                                    </a>
                                </li>
                                <li class="mobile-menu_wrap d-block d-lg-none">
                                    <a href="#mobileMenu" class="mobile-menu_btn toolbar-btn pl-0">
                                        <i class="pe-7s-menu"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-header header-sticky" data-bg-color="#bac34e">
        <div class="container">
            <div class="main-header_nav position-relative">
                <div class="row align-items-center">
                    <div class="col-lg-12 d-none d-lg-block">
                        <div class="main-menu">
                            <nav class="main-nav">
                                <ul>
                                    <li class="nav-link dropdown pr-6">
                                        <button href="javascript:void(0) " type="button" class="btn btn-dark " style="padding-right:4px">

                                            <span class="fixed-menu style-nav-fix "><i class="fa fa-bars"></i> Danh mục sản phẩm</span>
                                        </button>
                                        <ul class="drop-menu">
                                            @foreach (var item in lstendanhmuc)
                                            {
                                                <li>
                                                    <a style="font-size:17px" asp-controller="Product" asp-action="ListDanhmucSP" asp-route-tendm="@item.Tendm">@item.Tendm</a>
                                                </li>
                                            }

                                        </ul>
                                    </li>

                                    <li class="drop-holder" style="padding-left:5px">
                                        <a asp-controller="Home" asp-action="Index">
                                            Trang chủ
                                        </a>

                                    </li>
                                    <li>
                                        <a asp-controller="Home" asp-action="About">Về chúng tôi</a>
                                    </li>
                                    <li class="megamenu-holder">
                                        <a asp-controller="Product" asp-action="Index">
                                            Sản phẩm

                                        </a>

                                    </li>

                                    <li class="drop-holder">
                                        <a asp-controller="Blog" asp-action="Index">
                                            Tin tức

                                        </a>

                                    </li>
                                    <li>
                                        <a asp-controller="Home" asp-action="Contact">Liên hệ</a>
                                    </li>
                                    <li>
                                        <a asp-controller="Chat" asp-action="Index">Tư vấn</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
    <div class="global-overlay"></div>
</header>





    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.0.min.js" type="text/javascript"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
    <link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/blitzer/jquery-ui.css" rel="Stylesheet" type="text/css" />

    <script type="text/javascript">
        $(function () {
            $("#keyword").autocomplete({
                source: function (request, response) {

                    $.ajax({
                        url: '/Search/FindProduct/',
                        data: { keyword: $('#keyword').val() },
                        dataType: "json",
                        type: "POST",
                        async: true,
                        success: function (data) {
                            response($.map(data, function (item) {
                                
                                return item.tensp;

                            }))
                        },
                        error: function (response) {
                            alert(response.responseText);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        }
                    });
                },


            });
        });
    </script>




