@model demomysql.Models.Nhacungcap

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout2.cshtml";
}

<h1>Edit</h1>

<h4>Nhacungcap</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Mancc" />
            <div class="form-group">
                <label asp-for="Tenncc" class="control-label"></label>
                <input asp-for="Tenncc" class="form-control" />
                <span asp-validation-for="Tenncc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diachi" class="control-label"></label>
                <input asp-for="Diachi" class="form-control" />
                <span asp-validation-for="Diachi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Thanhpho" class="control-label"></label>
                <input asp-for="Thanhpho" class="form-control" />
                <span asp-validation-for="Thanhpho" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sdt" class="control-label"></label>
                <input asp-for="Sdt" class="form-control" />
                <span asp-validation-for="Sdt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tinhtrangxacnhan" class="control-label"></label>
                <input asp-for="Tinhtrangxacnhan" class="form-control" />
                <span asp-validation-for="Tinhtrangxacnhan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

