@using demomysql.Extension;

@model List<Donhang>
@if (Model != null && Model.Count() > 0)
{
<div class="table-responsive bg-white">
    <table class="table">
        <tbody>
            <tr>
                <th>Mã đơn hàng</th>
                <th>Ngày đặt</th>
                <th>Tình trạng đon hàng</th>
                <th>Tổng tiền</th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td><a class="account-order-id" href="javascript:void(0)">#@item.Madonhang</a></td>
                    <td>@item.Ngaydat</td>
                    <td>@item.IdtransactionNavigation.Tinhtrang</td>
                    <td style="width:20%">@Extension.ToVnd((double)item.Tongdon)</td>
                    <td>
                        <a data-id="@item.Madonhang" href="javascript:void(0)" class="xemdonhang btn btn-secondary btn-primary-hover"><span>Xem</span></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <br />
    <br />
    <hr />
    <div id="tabledonhang">

    </div>
</div>
}
else
{
    <p>Chưa có đơn hàng</p>

}

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.0.min.js" type="text/javascript"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
<script>

    $(document).ready(function () {
        $(".xemdonhang").click(function () {

            $.ajax({
                url: "/Donhang/Details",
                data: {
                    id: $(this).data("id"),
                   
                },
                success: function (data) {
                    $("#tabledonhang").html("");
                    $("#tabledonhang").html(data);

                },
                  error: function (response) {
                    alert(response.responseText);
                }
            });
        });


    });


    $('.ajax-add-to-cart').click(function (e) {
        e.preventDefault();
    });
</script>
