
@using demomysql.Models;
@*@model List<demomysql.Models.Danhmuc>*@
@*@model IEnumerable<demomysql.Models.Danhmuc>*@

@{
    linhkienchinhthucContext db = new linhkienchinhthucContext();    
    var danhmuc = from table in db.Danhmucs select table;
}

@if (danhmuc == null)
{
    <div>ko co danh muc</div>
}
else
{
    <li class="dropdown">
        <a href="#" class="dropdown-toggle nav-stylehead" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Danh mục
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu multi-column columns-3">
            <div class="agile_inner_drop_nav_info">
                <div class="col-sm-4 multi-gd-img">
                    <ul class="multi-column-dropdown">

                        @foreach (var item in danhmuc)
                        {
                        <li>
                           @Html.ActionLink(item.Tendm, "Danhsachsanpham", "Sanpham",new { @id =item.Madm},null)
                        </li>
                        }



                    </ul>
                </div>

                <div class="col-sm-4 multi-gd-img">
                    <img src="~/images/nav.png" alt="">
                </div>
                <div class="clearfix"></div>
            </div>
        </ul>
    </li>
}


