@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    ViewBag.title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@Html.Partial("Sidebar")
<div class="agileinfo-ads-display col-md-9">
    <div class="wrapper">
        <!-- first section (nuts) -->
        <div class="product-sec1">
            <h3 class="heading-tittle">Nuts</h3>
            @for (int i = 1; i <= 3; i++)
            {
                <div class="col-md-4 product-men">
                    <div class="men-pro-item simpleCart_shelfItem">
                        <div class="men-thumb-item">
                            <img src="images/m3.jpg" alt="">
                            <div class="men-cart-pro">
                                <div class="inner-men-cart-pro">
                                    <a href="~/Sanpham/Chitietsanpham?id=@i" class="link-product-add-cart">Quick View</a>
                                </div>
                            </div>
                            <span class="product-new-top">New</span>

                        </div>
                        <div class="item-info-product ">
                            <h4>
                                <a href="~/Sanpham/Chitietsanpham">Pista..., 250g</a>
                            </h4>
                            <div class="info-product-price">
                                <span class="item_price">$520.99</span>
                                <del>$600.99</del>
                            </div>
                            <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                                <form action="#" method="post">
                                    <fieldset>
                                        <input type="hidden" name="cmd" value="_cart" />
                                        <input type="hidden" name="add" value="1" />
                                        <input type="hidden" name="business" value=" " />
                                        <input type="hidden" name="item_name" value="Pista, 250g" />
                                        <input type="hidden" name="amount" value="520.99" />
                                        <input type="hidden" name="discount_amount" value="1.00" />
                                        <input type="hidden" name="currency_code" value="USD" />
                                        <input type="hidden" name="return" value=" " />
                                        <input type="hidden" name="cancel_return" value=" " />
                                        <input type="submit" name="submit" value="Add to cart" class="button" />
                                    </fieldset>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            }

            <div class="clearfix"></div>
        </div>
        <!-- //first section (nuts) -->

        <!-- second section (nuts special) -->
        <div class="product-sec1 product-sec2">
            <div class="col-xs-7 effect-bg">
                <h3 class="">Pure Energy</h3>
                <h6>Enjoy our all healthy Products</h6>
                <p>Get Extra 10% Off</p>
            </div>
            <h3 class="w3l-nut-middle">Nuts & Dry Fruits</h3>
            <div class="col-xs-5 bg-right-nut">
                <img src="images/nut1.png" alt="">
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- //second section (nuts special) -->
        <!-- third section (oils) -->
        <div class="product-sec1">
            <h3 class="heading-tittle">Oils</h3>
            @for (int i = 1; i <= 4; i++)
            {
                <div class="col-md-4 product-men">
                    <div class="men-pro-item simpleCart_shelfItem">
                        <div class="men-thumb-item">
                            <img src="images/mk6.jpg" alt="">
                            <div class="men-cart-pro">
                                <div class="inner-men-cart-pro">
                                    <a href="~/Sanpham/Chitietsanpham?id=@i" class="link-product-add-cart">Quick View</a>
                                </div>
                            </div>
                            <span class="product-new-top">New</span>

                        </div>
                        <div class="item-info-product ">
                            <h4>
                                <a href="~/Sanpham/Chitietsanpham?id=@i">Fortune Oil, 5L</a>
                            </h4>
                            <div class="info-product-price">
                                <span class="item_price">$399.99</span>
                                <del>$500.00</del>
                            </div>
                            <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                                <form action="#" method="post">
                                    <fieldset>
                                        <input type="hidden" name="cmd" value="_cart" />
                                        <input type="hidden" name="add" value="1" />
                                        <input type="hidden" name="business" value=" " />
                                        <input type="hidden" name="item_name" value="Fortune Oil, 5L" />
                                        <input type="hidden" name="amount" value="399.99" />
                                        <input type="hidden" name="discount_amount" value="1.00" />
                                        <input type="hidden" name="currency_code" value="USD" />
                                        <input type="hidden" name="return" value=" " />
                                        <input type="hidden" name="cancel_return" value=" " />
                                        <input type="submit" name="submit" value="Add to cart" class="button" />
                                    </fieldset>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            }
            <div class="clearfix"></div>
        </div>
        <!-- //third section (oils) -->

        <!-- fourth section (noodles) -->
        <div class="product-sec1">
            <h3 class="heading-tittle">Pasta & Noodles</h3>
            @for (int i = 1; i <= 4; i++)
            {
                <div class="col-md-4 product-men">
            <div class="men-pro-item simpleCart_shelfItem">
                <div class="men-thumb-item">
                    <img src="images/mk9.jpg" alt="">
                    <div class="men-cart-pro">
                        <div class="inner-men-cart-pro">
                            <a href="~/Sanpham/Chitietsanpham?id=@i" class="link-product-add-cart">Quick View</a>
                        </div>
                    </div>
                    <span class="product-new-top">New</span>

                </div>
                <div class="item-info-product ">
                    <h4>
                        <a href="~/Sanpham/Chitietsanpham?id=@i">Chinese Noodles, 68g</a>
                    </h4>
                    <div class="info-product-price">
                        <span class="item_price">$11.99</span>
                        <del>$15.00</del>
                    </div>
                    <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                        <form action="#" method="post">
                            <fieldset>
                                <input type="hidden" name="cmd" value="_cart" />
                                <input type="hidden" name="add" value="1" />
                                <input type="hidden" name="business" value=" " />
                                <input type="hidden" name="item_name" value="Chinese Noodles, 68g" />
                                <input type="hidden" name="amount" value="11.99" />
                                <input type="hidden" name="discount_amount" value="1.00" />
                                <input type="hidden" name="currency_code" value="USD" />
                                <input type="hidden" name="return" value=" " />
                                <input type="hidden" name="cancel_return" value=" " />
                                <input type="submit" name="submit" value="Add to cart" class="button" />
                            </fieldset>
                        </form>
                    </div>

                </div>
            </div>
        </div>
            }
            
            <div class="clearfix"></div>
        </div>
        <!-- //fourth section (noodles) -->
    </div>
</div>