@model demomysql.Models.Giaohang

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout2.cshtml";
}

<h1>Create</h1>

<h4>Giaohang</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tennguoigiao" class="control-label"></label>
                <input asp-for="Tennguoigiao" class="form-control" />
                <span asp-validation-for="Tennguoigiao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ngaygiao" class="control-label"></label>
                <input asp-for="Ngaygiao" class="form-control" />
                <span asp-validation-for="Ngaygiao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sdt" class="control-label"></label>
                <input asp-for="Sdt" class="form-control" />
                <span asp-validation-for="Sdt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Xacnhan" class="control-label"></label>
                <input asp-for="Xacnhan" class="form-control" />
                <span asp-validation-for="Xacnhan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

