@model demomysql.Models.Nguoidung

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout2.cshtml";
}

<h1>Create</h1>

<h4>Nguoidung</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Madanhgia" class="control-label"></label>
                <select asp-for="Madanhgia" class ="form-control" asp-items="ViewBag.Madanhgia"></select>
            </div>
            <div class="form-group">
                <label asp-for="Maquyen" class="control-label"></label>
                <select asp-for="Maquyen" class ="form-control" asp-items="ViewBag.Maquyen"></select>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasswordReset" class="control-label"></label>
                <input asp-for="PasswordReset" class="form-control" />
                <span asp-validation-for="PasswordReset" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hoten" class="control-label"></label>
                <input asp-for="Hoten" class="form-control" />
                <span asp-validation-for="Hoten" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ngaysinh" class="control-label"></label>
                <input asp-for="Ngaysinh" class="form-control" />
                <span asp-validation-for="Ngaysinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ngaytao" class="control-label"></label>
                <input asp-for="Ngaytao" class="form-control" />
                <span asp-validation-for="Ngaytao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ngaysua" class="control-label"></label>
                <input asp-for="Ngaysua" class="form-control" />
                <span asp-validation-for="Ngaysua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vaitro" class="control-label"></label>
                <input asp-for="Vaitro" class="form-control" />
                <span asp-validation-for="Vaitro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trangthai" class="control-label"></label>
                <input asp-for="Trangthai" class="form-control" />
                <span asp-validation-for="Trangthai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

